# Exercise 4.8: Grouping Data and Aggregating Variables

## Contents:

    0. Import Libraries

    1. Loading and Checking the Data

    2. Find the aggregated mean of the “order_number” column grouped by “department_id”

    3. Create a loyalty flag for existing customers using the transform() and loc() functions

    4. Exploring the spending habits of customers by loyality category

    5. Create a new spending flag column

    6. Create a flag for frequent users

    7. Export the dataframe as a Pickle

## 0. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 1. Loading and Checking the Data

In [2]:
# Define the path to the data files
path = '/Users/aaronkibler/CF Project 4 - Instacart Basket Analysis/02 Data'

In [3]:
# Import the “ords_prods_merge_new_var.pkl” data from the previous exercise as "df_ords_prods_merge_new_var" 
df_ords_prods_merge_new_var = pd.read_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_new_var.pkl'))

In [4]:
# Checking "ords_prods_merge_new_var.pkl" data is correctly loaded
print(df_ords_prods_merge_new_var.head())
print(df_ords_prods_merge_new_var.info())
df_ords_prods_merge_new_var.shape

   product_id                product_name  aisle_id  department_id  prices  \
0           1  Chocolate Sandwich Cookies        61             19     5.8
1           1  Chocolate Sandwich Cookies        61             19     5.8
2           1  Chocolate Sandwich Cookies        61             19     5.8
3           1  Chocolate Sandwich Cookies        61             19     5.8
4           1  Chocolate Sandwich Cookies        61             19     5.8

   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   3139998      138            28                   6                 11
1   1977647      138            30                   6                 17
2    389851      709             2                   0                 21
3    652770      764             1                   3                 13
4   1813452      764             3                   4                 17

   days_since_prior_order  is_first_order  add_to_cart_order  reordered  \
0                     3.0               0                  5          0
1                    20.0               0                  1          1
2                     6.0               0                 20          0
3                     NaN               1                 10          0
4                     9.0               0                 11          1

  _merge    price_range_loc     busiest_day  busiest_days  \
0   both  Mid-range product  Regularly busy  Regular days
1   both  Mid-range product  Regularly busy  Regular days
2   both  Mid-range product     Busiest day  Busiest days
3   both  Mid-range product  Regularly busy  Slowest days
4   both  Mid-range product      Least busy  Slowest days

  busiest_period_of_day
0           Most orders
1        Average orders
2        Average orders
3           Most orders
4        Average orders
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   order_number            int64
 8   orders_day_of_week      int64
 9   order_hour_of_day       int64
 10  days_since_prior_order  float64
 11  is_first_order          int64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
dtypes: category(1), float64(2), int64(11), object(5)
memory usage: 4.4+ GB
None

(32404859, 19)

## 2. Find the aggregated mean of the “order_number” column grouped by “department_id”

In [5]:
# Use the "groupby" function followed by the "agg()" function to find the aggregated mean of the "order_number"
df_ords_prods_merge_new_var.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Comparing this result to the example performed on a subset of 1 million rows in the exercise, all departments are included here.
### Second, department 21 now has the highest mean and department 5 has the lowest.
### In general, all mean values have changed compared to the results of the aggregation on the subset.

## 3. Create a loyalty flag for existing customers using the transform() and loc() functions

In [6]:
# Use the transform() function to generate a new column containing the maximum orders for each user
# The code "df_ords_prods_merge_new_var['max_order'] = df_ords_prods_merge_new_var.groupby(['user_id'])['order_number'].transform(np.max)"
# results in a warning message with recommendations on revising the code

In [7]:
# Revising the code as suggested by the warning message
df_ords_prods_merge_new_var['max_order'] = df_ords_prods_merge_new_var.groupby(['user_id'])['order_number'].transform('max')

In [8]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['max_order'].value_counts(dropna = False)

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [9]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Regular days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Regular days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,0,2,0,both,Mid-range product,Regularly busy,Regular days,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,1,0,both,Mid-range product,Regularly busy,Regular days,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,0,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,0,4,1,both,Mid-range product,Regularly busy,Regular days,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,0,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,0,18,1,both,Mid-range product,Regularly busy,Regular days,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,0,12,1,both,Mid-range product,Regularly busy,Regular days,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,0,10,0,both,Mid-range product,Regularly busy,Regular days,Fewest orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,0,9,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,0,9,1,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28

In [10]:
# Use the "loc" function to create a loyalty flag column based on the following criteria:
# If the "max_order" the user has made is over 40, then the customer will be labeled a “Loyal customer”
# If the "max_order" the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer”
# If the "max_order" the user has made is less than or equal to 10, then the customer will be labeled a “New customer”

In [11]:
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merge_new_var.loc[(df_ords_prods_merge_new_var['max_order'] <= 40) & (df_ords_prods_merge_new_var['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [15]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var[['user_id', 'order_number', 'max_order', 'loyalty_flag']].head(20)

    user_id  order_number  max_order      loyalty_flag
0       138            28         32  Regular customer
1       138            30         32  Regular customer
2       709             2          5      New customer
3       764             1          3      New customer
4       764             3          3      New customer
5       777            16         26  Regular customer
6       825             3          9      New customer
7       910            12         12  Regular customer
8      1052            10         20  Regular customer
9      1052            15         20  Regular customer
10     1379             1         10      New customer
11     1480            36         43    Loyal customer
12     1480            38         43    Loyal customer
13     1480            39         43    Loyal customer
14     1494             6         13  Regular customer
15     1494             7         13  Regular customer
16     1494             9         13  Regular customer
17     1540             4         28  Regular customer
18     1540             5         28  Regular customer
19     1540             6         28  Regular customer

## 4. Exploring the spending habits of customers by loyality category

In [16]:
# Use "loyalty_flag" to check the basic statistics of the product prices for each loyalty category
# This can be done using "groupby" and multiple aggregations
df_ords_prods_merge_new_var.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.386336    7.4  1.0  99999.0
New customer      13.294670    7.4  1.0  99999.0
Regular customer  12.495717    7.4  1.0  99999.0

### The "loyal customer" has a slightly lower spending mean than the other categories. New customers have the highest mean. The median, min, and max are the same across all categories.

## 5. Create a new spending flag column

In [17]:
# This can be achieved by looking at the prices of the items people are buying
# If the mean of the prices of products purchased by a user is lower than 10, flag as “Low spender”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, flag as “High spender"

In [18]:
# Use the transform() function to generate a new column containing the mean price of products purchased by each user
df_ords_prods_merge_new_var['mean_product_price'] = df_ords_prods_merge_new_var.groupby(['user_id'])['prices'].transform('mean')

In [19]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['mean_product_price'].value_counts(dropna = False)

mean_product_price
8.000000     10344
7.500000      9116
8.100000      8232
7.400000      7044
7.750000      7040
             ...
11.933333        3
13.800000        3
12.033333        3
9.733333         3
8.066667         3
Name: count, Length: 128623, dtype: int64

In [20]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regular days,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,both,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,1,0,both,Mid-range product,Regularly busy,Regular days,Most orders,10,New customer,5.813636
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,43,Loyal customer,5.081633
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,43,Loyal customer,5.081633
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,4,1,both,Mid-range product,Regularly busy,Regular days,Most orders,43,Loyal customer,5.081633
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,13,Regular customer,6.803797
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,18,1,both,Mid-range product,Regularly busy,Regular days,Average orders,13,Regular customer,6.803797
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,12,1,both,Mid-range product,Regularly busy,Regular days,Average orders,13,Regular customer,6.803797
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,10,0,both,Mid-range product,Regularly busy,Regular days,Fewest orders,28,Regular customer,6.607122
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,9,1,both,Mid-range product,Regularly busy,Busiest days,Average orders,28,Regular customer,6.607122
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,9,1,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28,Regular customer,6.607122

In [21]:
# Use the "loc" function to create a "spending_flag" for each user
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['mean_product_price']<10,'spending_flag']='Low_spender'

In [22]:
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['mean_product_price']>= 10, 'spending_flag']='High_spender'

In [23]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['spending_flag'].value_counts(dropna = False)

spending_flag
Low_spender     31770614
High_spender      634245
Name: count, dtype: int64

In [24]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var[['user_id', 'prices', 'mean_product_price', 'spending_flag']].head(20)

    user_id  prices  mean_product_price spending_flag
0       138     5.8            6.935811   Low_spender
1       138     5.8            6.935811   Low_spender
2       709     5.8            7.930208   Low_spender
3       764     5.8            4.972414   Low_spender
4       764     5.8            4.972414   Low_spender
5       777     5.8            6.935398   Low_spender
6       825     5.8            5.957576   Low_spender
7       910     5.8            6.680000   Low_spender
8      1052     5.8            7.162500   Low_spender
9      1052     5.8            7.162500   Low_spender
10     1379     5.8            5.813636   Low_spender
11     1480     5.8            5.081633   Low_spender
12     1480     5.8            5.081633   Low_spender
13     1480     5.8            5.081633   Low_spender
14     1494     5.8            6.803797   Low_spender
15     1494     5.8            6.803797   Low_spender
16     1494     5.8            6.803797   Low_spender
17     1540     5.8            6.607122   Low_spender
18     1540     5.8            6.607122   Low_spender
19     1540     5.8            6.607122   Low_spender

## 6. Create a flag for frequent users

In [25]:
# Create an order frequency flag for users ordering behavior according to the median in the “days_since_prior_order” column
# If the median of is higher than 20, then the customer is flagged a “Non-frequent customer”
# If the median is higher than 10 and lower than or equal to 20, then the customer is flagged a “Regular customer”
# If the median is lower than or equal to 10, then the customer is flagged a “Frequent customer”

In [26]:
# Use the transform() function to generate a new column containing the median of "days_since_prior_order" for each user
df_ords_prods_merge_new_var['order_frequency'] = df_ords_prods_merge_new_var.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [27]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,order_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low_spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regular days,Average orders,32,Regular customer,6.935811,Low_spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low_spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low_spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low_spender,9.0
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398,Low_spender,11.0
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,both,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,5.957576,Low_spender,20.0
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,6.680000,Low_spender,6.0
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500,Low_spender,10.0
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500,Low_spender,10.0
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,both,Mid-range product,Regularly busy,Regular days,Most orders,10,New customer,5.813636,Low_spender,20.0
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,43,Loyal customer,5.081633,Low_spender,7.0
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,both,Mid-range product,Least busy,Slowest days,Most orders,43,Loyal customer,5.081633,Low_spender,7.0
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,both,Mid-range product,Regularly busy,Regular days,Most orders,43,Loyal customer,5.081633,Low_spender,7.0
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,13,Regular customer,6.803797,Low_spender,7.0
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,...,both,Mid-range product,Regularly busy,Regular days,Average orders,13,Regular customer,6.803797,Low_spender,7.0
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,...,both,Mid-range product,Regularly busy,Regular days,Average orders,13,Regular customer,6.803797,Low_spender,7.0
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,both,Mid-range product,Regularly busy,Regular days,Fewest orders,28,Regular customer,6.607122,Low_spender,7.0
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,28,Regular customer,6.607122,Low_spender,7.0
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,...,both,Mid-range product,Regularly busy,Busiest days,Fewest orders,28,Regular customer,6.607122,Low_spender,7.0

In [28]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['order_frequency'].value_counts(dropna = False)

order_frequency
7.0     5682399
6.0     2983604
8.0     2713964
5.0     2486061
4.0     2314289
         ...
26.5       5514
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: count, Length: 62, dtype: int64

### There are 5 unexpected "NaN" values in the "order_frequency" column that should be investigated

In [29]:
# Investigate the NaN values in "order_frequency"
nan_rows = df_ords_prods_merge_new_var[df_ords_prods_merge_new_var['order_frequency'].isna()]
print(nan_rows)

          product_id                                       product_name  \
6234909        10749                            Organic Red Bell Pepper
12947653       21334                              Organic Peeled Garlic
13839012       22198  4X Ultra Concentrated Natural Laundry Detergen...
14758536       23695                           California Veggie Burger
21673807       33401                               Goat Cheese Crumbles

          aisle_id  department_id  prices  order_id  user_id  order_number  \
6234909         83              4     5.7    895835   159838             1
12947653       123              4    10.2    895835   159838             1
13839012        75             17     1.7    895835   159838             1
14758536        42              1     4.7    895835   159838             1
21673807        21             16    14.8    895835   159838             1

          orders_day_of_week  order_hour_of_day  ...  _merge  \
6234909                    0                 17  ...    both
12947653                   0                 17  ...    both
13839012                   0                 17  ...    both
14758536                   0                 17  ...    both
21673807                   0                 17  ...    both

            price_range_loc  busiest_day  busiest_days busiest_period_of_day  \
6234909   Mid-range product  Busiest day  Busiest days        Average orders
12947653  Mid-range product  Busiest day  Busiest days        Average orders
13839012  Low-range product  Busiest day  Busiest days        Average orders
14758536  Low-range product  Busiest day  Busiest days        Average orders
21673807  Mid-range product  Busiest day  Busiest days        Average orders

         max_order  loyalty_flag mean_product_price spending_flag  \
6234909          1  New customer               7.42   Low_spender
12947653         1  New customer               7.42   Low_spender
13839012         1  New customer               7.42   Low_spender
14758536         1  New customer               7.42   Low_spender
21673807         1  New customer               7.42   Low_spender

          order_frequency
6234909               NaN
12947653              NaN
13839012              NaN
14758536              NaN
21673807              NaN

[5 rows x 24 columns]

In [30]:
# Investigate the NaN values in "order_frequency"
print(nan_rows[['user_id', 'order_number', 'days_since_prior_order', 'order_frequency']])

          user_id  order_number  days_since_prior_order  order_frequency
6234909    159838             1                     NaN              NaN
12947653   159838             1                     NaN              NaN
13839012   159838             1                     NaN              NaN
14758536   159838             1                     NaN              NaN
21673807   159838             1                     NaN              NaN

In [31]:
# Count the number of NaN values in the "days_since_prior_order" column
nan_count = df_ords_prods_merge_new_var['days_since_prior_order'].isna().sum()
print(nan_count)

2076096

### As there are over 2 million "NaN" values in the "days_since_prior_order" column, and we know "NaN" in this column indicates a first time order, nearly all 2 million must have made a second order allowing the median to calculate correctly. These 5 "NaN" values in "order_frequency" must represent a user who only made one order? Or perhaps a more likely explanation is an error in the original data?

In [32]:
# Use the "loc" function to create a "frequency_flag" for each user
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['order_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [33]:
df_ords_prods_merge_new_var.loc[(df_ords_prods_merge_new_var['order_frequency'] > 10) & (df_ords_prods_merge_new_var['order_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'

In [34]:
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['order_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [35]:
# Check the results using the "value_counts" function
df_ords_prods_merge_new_var['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

### I will leave the "NaN" values in for now. We may want to filter them out later or perhaps delete them. Another option is to modify the loc function to include these 5 "NaN" entries as "Non-frequent customer".

In [36]:
# Checking the results using the "head" function
df_ords_prods_merge_new_var[['user_id', 'days_since_prior_order', 'order_frequency', 'frequency_flag']].head(20)

    user_id  days_since_prior_order  order_frequency     frequency_flag
0       138                     3.0              8.0  Frequent customer
1       138                    20.0              8.0  Frequent customer
2       709                     6.0              8.0  Frequent customer
3       764                     NaN              9.0  Frequent customer
4       764                     9.0              9.0  Frequent customer
5       777                    26.0             11.0   Regular customer
6       825                    30.0             20.0   Regular customer
7       910                    30.0              6.0  Frequent customer
8      1052                    19.0             10.0  Frequent customer
9      1052                    15.0             10.0  Frequent customer
10     1379                     NaN             20.0   Regular customer
11     1480                     7.0              7.0  Frequent customer
12     1480                     7.0              7.0  Frequent customer
13     1480                    12.0              7.0  Frequent customer
14     1494                     2.0              7.0  Frequent customer
15     1494                     6.0              7.0  Frequent customer
16     1494                    10.0              7.0  Frequent customer
17     1540                     7.0              7.0  Frequent customer
18     1540                     6.0              7.0  Frequent customer
19     1540                    14.0              7.0  Frequent customer

### Cleaning up the "prices" column as instructed in Exercise 4.9

In [37]:
# Check the descriptive stats of the "prices" column
df_ords_prods_merge_new_var['prices'].describe()

count    3.240486e+07
mean     1.198023e+01
std      4.956554e+02
min      1.000000e+00
25%      4.200000e+00
50%      7.400000e+00
75%      1.130000e+01
max      9.999900e+04
Name: prices, dtype: float64

In [38]:
# Check if there are any values in "prices" above the threshold of $100
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['prices'] > 100]

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_product_price,spending_flag,order_frequency,frequency_flag
13100147,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,912404,17,12,2,14,...,High-range product,Regularly busy,Regular days,Most orders,40,Regular customer,108.648299,High_spender,5.0,Frequent customer
13100148,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,603376,17,22,6,16,...,High-range product,Regularly busy,Regular days,Most orders,40,Regular customer,108.648299,High_spender,5.0,Frequent customer
13100149,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,3264360,135,2,2,21,...,High-range product,Regularly busy,Regular days,Average orders,4,New customer,1154.792308,High_spender,12.0,Regular customer
13100150,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,892534,135,3,0,8,...,High-range product,Busiest day,Busiest days,Average orders,4,New customer,1154.792308,High_spender,12.0,Regular customer
13100151,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,229704,342,8,1,19,...,High-range product,Regularly busy,Busiest days,Average orders,16,Regular customer,114.426619,High_spender,23.0,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21786876,33664,2 % Reduced Fat Milk,84,16,99999.0,2249946,204099,29,0,8,...,High-range product,Busiest day,Busiest days,Average orders,39,Regular customer,1106.743956,High_spender,4.0,Frequent customer
21786877,33664,2 % Reduced Fat Milk,84,16,99999.0,2363282,204099,31,0,9,...,High-range product,Busiest day,Busiest days,Most orders,39,Regular customer,1106.743956,High_spender,4.0,Frequent customer
21786878,33664,2 % Reduced Fat Milk,84,16,99999.0,3181945,204395,13,3,15,...,High-range product,Regularly busy,Slowest days,Most orders,15,Regular customer,451.153540,High_spender,5.0,Frequent customer
21786879,33664,2 % Reduced Fat Milk,84,16,99999.0,2486215,205227,7,3,20,...,High-range product,Regularly busy,Slowest days,Average orders,12,Regular customer,1178.381871,High_spender,12.0,Regular customer
21786880,33664,2 % Reduced Fat Milk,84,16,99999.0,2232716,205227,10,0,11,...,High-range product,Busiest day,Busiest days,Most orders,12,Regular customer,1178.381871,High_spender,12.0,Regular customer

In [39]:
# Mark these outliers in the "prices" column as NaNs
df_ords_prods_merge_new_var.loc[df_ords_prods_merge_new_var['prices'] >100, 'prices'] = np.nan

In [40]:
# Check the results with a max-value check on the "prices" column
df_ords_prods_merge_new_var['prices'].max()

25.0

## 7. Export the dataframe as a Pickle

In [41]:
# Perform a final check on the dataframe before exporting
print(df_ords_prods_merge_new_var.head())
print(df_ords_prods_merge_new_var.info())
print(df_ords_prods_merge_new_var.shape)

   product_id                product_name  aisle_id  department_id  prices  \
0           1  Chocolate Sandwich Cookies        61             19     5.8
1           1  Chocolate Sandwich Cookies        61             19     5.8
2           1  Chocolate Sandwich Cookies        61             19     5.8
3           1  Chocolate Sandwich Cookies        61             19     5.8
4           1  Chocolate Sandwich Cookies        61             19     5.8

   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   3139998      138            28                   6                 11
1   1977647      138            30                   6                 17
2    389851      709             2                   0                 21
3    652770      764             1                   3                 13
4   1813452      764             3                   4                 17

   ...    price_range_loc     busiest_day  busiest_days  \
0  ...  Mid-range product  Regularly busy  Regular days
1  ...  Mid-range product  Regularly busy  Regular days
2  ...  Mid-range product     Busiest day  Busiest days
3  ...  Mid-range product  Regularly busy  Slowest days
4  ...  Mid-range product      Least busy  Slowest days

   busiest_period_of_day max_order      loyalty_flag mean_product_price  \
0            Most orders        32  Regular customer           6.935811
1         Average orders        32  Regular customer           6.935811
2         Average orders         5      New customer           7.930208
3            Most orders         3      New customer           4.972414
4         Average orders         3      New customer           4.972414

  spending_flag order_frequency     frequency_flag
0   Low_spender             8.0  Frequent customer
1   Low_spender             8.0  Frequent customer
2   Low_spender             8.0  Frequent customer
3   Low_spender             9.0  Frequent customer
4   Low_spender             9.0  Frequent customer

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   order_number            int64
 8   orders_day_of_week      int64
 9   order_hour_of_day       int64
 10  days_since_prior_order  float64
 11  is_first_order          int64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
 19  max_order               int64
 20  loyalty_flag            object
 21  mean_product_price      float64
 22  spending_flag           object
 23  order_frequency         float64
 24  frequency_flag          object
dtypes: category(1), float64(4), int64(12), object(8)
memory usage: 5.8+ GB
None
(32404859, 25)

In [42]:
# Export the "df_ords_prods_merge_new_var" dataframe with the new changes as "ords_prods_merge_new_var_group_agg.pkl"
df_ords_prods_merge_new_var.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge_new_var_group_agg.pkl'))

# End of Exercise 4.8